@model eComplaints.Models.ReportViewModels.TrackingEditViewModel

@{
    ViewData["Title"] = "EditTracking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdentificationNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdentificationNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaterialType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaterialType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Issue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Issue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Supplier)
        </dd>
    </dl>
</div>
<br />
<div class="panel panel-info">
    <div class="panel panel-heading">
        <h4>Editeaza informatii Tracking</h4>
    </div>
    <div class="panel panel-body">
        <form asp-action="EditTracking">
            <div class="row">
                <div class="col-md-12">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @Html.HiddenFor(model => model.ReportId)
                    <div class="row">
                        <label asp-for="Status" class="control-label col-md-2"></label>
                        <div class="col-md-8">
                            <select asp-for="Status" asp-items="@ViewBag.Status" class="form-control"></select>
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <label asp-for="ActionsForClosing" class="control-label col-md-2"></label>
                        <div class="col-md-8">
                            <textarea cols="50" rows="5" asp-for="ActionsForClosing" class="form-control"></textarea>
                            <span asp-validation-for="ActionsForClosing" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <label asp-for="Objects" class="control-label col-md-2"></label>
                        <div class="col-md-8">
                            <textarea cols="50" rows="5" asp-for="Objects" class="form-control"></textarea>
                            <span asp-validation-for="Objects" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <label asp-for="Comments" class="control-label col-md-2"></label>
                        <div class="col-md-8">
                            <textarea cols="50" rows="5" asp-for="Comments" class="form-control"></textarea>
                            <span asp-validation-for="Comments" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-info btn-block">Editeaza</button>
                </div>
            </div>
        </form>
    </div>
</div>